.chart-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}